$maven_b:"Maven PRO bold",sans-serif;
$maven_m:"Maven PRO medium",sans-serif;
$color:#2f2E2E;
$about_me:#A0A09F;




.upper{text-transform: uppercase;}

.center{text-align: center;}

.bold {font-weight: 700;}



.f12{font-size: 1.2rem;}
.f14{font-size: 1.4rem;}
.f16{font-size: 1.6rem;}
.f18{font-size: 1.8rem;}
.f30{font-size: 3rem;}
.f40{font-size:4rem;}
.f45{font-size: 4.5rem;}
.f50{font-size:5rem;}
.f60{font-size: 6rem;}
.f86{font-size: 8.6rem;}

/*
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f30{font-size: 30px;}
.f40{font-size:40px;}
.f45{font-size: 45px;}
.f50{font-size:50px;}
.f60{font-size: 60px;}
.f86{font-size: 86px;}


*/

